h1 {
	margin: 0;
	padding: 2em;
	text-align: center;
	color: white;
}

.App {
	min-height: 100vh;
	background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.search-form {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar {
	width: 50%;
	border: 4px solid transparent;
	border-radius: 1px;
	font-size: 2rem;
	padding: 0.5rem;
	transition: width 0.3s;
}

.search-bar:focus {
	width: 55%;
	outline: none;
	border: 4px solid #08a1b6;
}

.search-bar:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: pink;
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search-bar:focus::-moz-placeholder { /* Firefox 19+ */
  color: pink;
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search-bar:focus:-ms-input-placeholder { /* IE 10+ */
  color: pink;
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search-bar:focus:-moz-placeholder { /* Firefox 18- */
  color: pink;
  transition: opacity 0.45s ease;
  opacity: 0;
}
